*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('images/3.jpg');
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top-center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}
.app-man{
    width: 50vh;
    margin: 100px auto;
    background-color: rgba(240, 248,255,0.6);
    padding: 20px;
    text-align: center;
}
.app-man > *{
    margin-bottom: 20px;

}
.inputbox{
    width: 200px;
    background-color: rgba(240, 248,255,0.6);
    border: hidden;
    outline: hidden;
    color: #582233;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
}
.inputbox:focus{
    background-color: rgba(255,255,255);

}
.weatherbody{
    color: #582233;
    padding: 20px;
    line-height: 2rem;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.6);
    height: 50vh;
}
.locationdetails{
    font-weight: bold;

}
.weatherstatus{
    padding: 20px;
}
.temp{
    font-size: 30pt;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}
.min-max,.weather,.feels,.wind{
    font-size: 12pt;
    font-weight: 600;

}
